body {
    display: flex;
    justify-content: center;
    align-content: center;
}

#calculator {
    display:grid;
    justify-content: center; 
    grid-template-columns: [first] 40px [line2] 40px [line3] 40px [line4] 40px [end];
    grid-template-rows: [row-first] 40px [row-line2] 40px [row-line3] 40px [row-line4] 40px [row-line5] 40px [row-line6] 40px [row-end];
    align-content: center; 
    text-align: center;
}

.num {
    border-style: solid;
    border-color:beige;
    text-align: center;
    padding: 7px 0px;
    font-size: medium;
    color: aliceblue;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.op {
    border-style: solid;
    text-align: center;
    padding: 7px 0px;
}

#entry {
    border-style: solid;
    text-align: right;
    padding: 7px 7px;
    grid-column-start: first;
    grid-column-end: end;
    grid-row-start: row-first;
    grid-row-end: row-first;
}

#clear {
    border-style: solid;
    text-align: center;
    padding: 7px 7px;
    grid-column-start: first;
    grid-column-end: end;
    grid-row-start: row-line2;
    grid-row-end: row-line2;
}

#zero {
    border-style: solid;
    text-align: center;
    grid-column-start: first;
    grid-column-end: line3;
    grid-row-start: row-line6;
    grid-row-end: row-end;
    padding: 7px 0px;
}