body {
    display: flex;
    justify-content: center;
    align-content: center;
}

#calculator {
    display:grid;
    justify-content: center; 
    grid-template-columns: [first] 40px [line2] 40px [line3] 40px [line4] 40px [end];
    grid-template-rows: [row-first] 40px [row-line2] 40px [row-line3] 40px [row-line4] 40px [row-line5] 40px [row-line6] 40px [row-end];
    align-content: center; 
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
}

.button {
    border-style: solid;
    border-color:darkgray;
    border-width: .5px;
    text-align: center;
    padding: 7px 0px;
    font-size: medium;
}

.num {
    color: black;
    background-color: lightgrey;
}

.num:hover {
    color: white;
    background-color: darkgray;
}

.op, #equal {
    background-color: orange;
    color: white;
}

.op:hover {
    background-color: rgb(252, 197, 93);
    color: white;
}

#entry {
    background-color: rgb(96, 96, 96);
    color: white;
    text-align: right;
    padding: 7px 7px;
    font-size: 24px;
    grid-column-start: first;
    grid-column-end: end;
    grid-row-start: row-first;
    grid-row-end: row-first;
}

#clear {
    border-top-style: solid;
    border-color:darkgray;
    border-width: 1px;
    background-color: rgb(96, 96, 96);
    color: white;
    text-align: center;
    padding: 7px 7px;
    grid-column-start: first;
    grid-column-end: end;
    grid-row-start: row-line2;
    grid-row-end: row-line2;
}

#clear:hover {
    border-top-style: solid;
    border-color:darkgray;
    border-width: 1px;
    background-color: rgb(143, 143, 143);
    color: white;
    text-align: center;
    padding: 7px 7px;
    grid-column-start: first;
    grid-column-end: end;
    grid-row-start: row-line2;
    grid-row-end: row-line2;
}

#zero {
    grid-column-start: first;
    grid-column-end: line3;
    grid-row-start: row-line6;
    grid-row-end: row-end;
}