body {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
    background-color: rgb(247, 247, 241);
}

#calculator {
    display: grid;
    justify-content: center; 
    align-content: center; 
    text-align: center;
    min-height: 100vh;
    grid-template-columns: [first] 40px [line2] 40px [line3] 40px [line4] 40px [end];
    grid-template-rows: [row-first] 40px [row-line2] 40px [row-line3] 40px [row-line4] 40px [row-line5] 40px [row-line6] 40px [row-end];
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    border: .5px solid white;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: medium;
    cursor: pointer;
    outline: none;
}

.num {
    color: black;
    background-color: lightgrey;
}

.num:hover {
    color: white;
    background-color: darkgray;
}

.op {
    background-color: orange;
    color: white;
}

.op:hover {
    background-color: rgb(252, 197, 93);
}

.entry {
    background-color: rgb(96, 96, 96);
    color: white;
    text-align: right;
    padding: 7px 7px;
    grid-column: 1 / -1; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
}

.entry .previous-operand {
    font-size: .5rem;
}

.entry .current-operand {
    font-size: 1.2rem;
}

#clear {
    border-top-style: solid;
    border-color:darkgray;
    border-width: 1px;
    background-color: rgb(96, 96, 96);
    color: white;
    text-align: center;
    padding: 7px 7px;
    grid-column: 1 / -1;
}

#clear:hover {
    background-color: rgb(143, 143, 143);
}

#zero {
    grid-column-start: first;
    grid-column-end: line3;
    grid-row-start: row-line6;
    grid-row-end: row-end;
}